:root {
    --warna-utama: #005fff;
}
body {
    background-color: #d4d4dd;
}
.navmutlak {
    margin: 0;
    padding: 0;
    border: 0;
}

/* logo navbar */
.navmutlak .logoz {
    position: fixed;
    display: flex;
    height: 65px;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid var(--warna-utama);
}
.logoz .img {
    width: 60%;
}
.logoz .img img {
    width: 200px;
    margin-left: 10px;
    margin-top: 5px;
}
.logoz .accountz {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.logoz .accountz span {
    margin: auto 10px;
    color: var(--warna-utama);
    font-weight: bold;
}
@media (max-width: 574px) {
    .logoz .accountz span {
        display: none;
        font-size: 0;
        width: 0;
    }
}
.logoz .accountz img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid var(--warna-utama);
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 10px;
}

/* side navbar */
nav .navbarz {
    position: fixed;
    margin: 0;
    top: 65px;
}
.navbarz ul {
    display: flex;
    height: 100vh;
    width: 45px;
    background-color: white;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    transition: .5s;
}
.navbarz ul:hover {
    width: 180px;
    border-right: 1px solid #dedede;
}
.navbarz li {
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 1px 0 2px 0;
    overflow: hidden;
}
.navbarz a:hover {
    background-color: var(--warna-utama);
    color: white;
}
.navbarz li a.active {
    background-color: var(--warna-utama);
    color: white;
}
.navbarz li a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--warna-utama);
    padding-top: 15px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbarz li i {
    color: var(--warna-utama);
    width: 40px;
}
.navbarz li a.active i {
    color: white;
}
.navbarz li:hover i {
    color: white;
}

/* perbaikan posisi content */
.content {
    width: 96%;
    margin-top: 41px;
    margin-left: 47px;
    /* width: 96% !important; */
}
@media (max-width: 1300px) {
    .content { width: 89%; }
}
@media (max-width: 420px) {
    .content { width: 85%; }
}
