
.DentalCareLogin{
    color: rgb(51, 110, 250);
}
.form-control{
    font-size: 14px;
}
.form-forgotPassword {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    font-size: 14px;
  }

  .form-forgotPassword .form-floating:focus-within {
    z-index: 2;
    
  }
  .gambarDokter {
    margin-left:19%;
    margin-top: 10px;
  }





  