
.dashboard-text{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 220px;
    top: 40px;
    font-size: 30px;
    background-color: #5f6cfa;
    border-radius: 5px;
    margin-right: 230px;

}
.txt{
    position: relative;
    top: 8px;
}


