.absen {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 230px; /* Decreased left margin */
    margin-right: 730px; /* Increased right margin */
}

.absen i{
    font-size: 40px;
    margin-right: 20px;
}

.antriseluruh{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    margin-left: 550px; /* Decreased left margin */
    margin-right: 400px; /* Increased right margin */
}

.antriseluruh i{
    font-size: 40px;
    margin-right: 20px;
}
