/* PROFIL DAN LOGO DISINI */


nav .logo {
    position: fixed;
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0, 4, 255);
    background-color: #ffffff;
}
.logo .img {
    width: 70%;
}
.logo .img img {
    width: 150px;
    margin-top: 5px;
}
.logo .profil {
    width: 25%;
    display: flex;
    justify-content: flex-end; 
}
.logo .profil span {
    margin: 15px;
    color: #000000;
    font-weight: normal;
    margin-top: 10px;
}

.logo .profil img {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 20px;
}

/* NAVBAR DI KIRI */
.navbarDokter{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  Verdana, sans-serif;
    font-size: 15px;
}
nav .navbarDokter {
    position: fixed;
    top: 45px;
}
.navbarDokter ul {
    display: flex;
    height: 100vh;
    width: 120%;
    background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    transition: .5s;
    border: 1px solid #005eff;
    border-top-right-radius: 15px;
}
.navbarDokter li {
    list-style-type: none;
    height: 40px;
    width: 100%;
    margin: 10px 0 0 0;
}
.navbarDokter li.out {
    margin-top: 150%;
}
.navbarDokter a:hover {
    color: rgb(0, 5, 80);
}
.navbarDokter li a {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 20px;    
}
.navbarDokter li i {
    color:#0a0059;
    width: 30px;
}

