body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #0094FF;
    color: #fff;
    margin-bottom: 80px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 18px 20px;
}

.logo {
    margin: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ffcc00;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}
