/*  Form Pasien  */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-rendering: optimizeSpeed;
}

#contentform {
    width: 100%;
}
@media (max-width: 1300px) {
    #contentform { width: 89dvw; }
}
@media (max-width: 420px) {
    #contentform { width: 85dvw; }
}
#topbar {
    padding: 3px;
    border-bottom: 3px solid #046FBC;
}
#topbar p {
    font-weight: 600;
}

.error-message {
    color: red;
    font-size: 0.9rem;
  }
  /* Custom styling */


  .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 20px;
}

.cancel-button, .register-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 47%; /* Lebar tombol */
}

.cancel-button {
  background-color: #fff;
  color: blue;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
}

.register-button {
  background-color: blue;
  color: #fff;
  border: none;
}
.form-group {
padding: 7px;
}
.error-message {
  color: red;
  font-size: 0.8em;
}
/* =====BACKUP====== */
  /* .container-form {
    display: grid;
    background: linear-gradient(to top, #cccccc, #cccccc);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 8px;
  }
  .container-form .sub-container {
    border-radius: 10px;
    padding: 20px;
  } */

  .bungkus {
    background: linear-gradient(to top, #92ceff, #ffffff);
  }