:root {
    --warna-utama: #005fff;
}
.contentsz .home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: var(--warna-utama);
}
.contentsz .home .item {
    height: 260px;
    width: 100%;
    margin: 15px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.contentsz .home .item .headcard, .content .home .itemlong .headcard {
    height: 35px;
    font-size: 20px;
    text-align: center;
    padding: 6px 0 4px 15px;
}
.contentsz .home .item .headcard p, .content .home .itemlong .headcard p {
    font-size: large;
}
.contentsz .home .item .card {
    height: 200px;
    padding-left: 20px;
    width: 95%;
    margin: auto;
    overflow: auto;
    font-size: 17px;
}
.contentsz .home .item .card .data {
    border-bottom: 1px solid white;
}
.contentsz .home .itemlong {
    height: 260px;
    width: 100%;
    margin: 15px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.contentsz .home .itemlong .card {
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 95%;
    margin: auto;
}
@media (max-width: 670px) {
    .contentsz .home .item {
        margin: 10px auto;
    }
    .contentsz .home .itemlong {
        margin: 10px auto;
    }
}
@media (max-width: 575px) {
    .contentsz .home .item {
        width: 100%;
        margin: 10px auto;
    }
    .contentsz .home .itemlong {
        height: 700px;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .contentsz .home .itemlong .card {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 95%;
        margin: auto 80px;
    }
    .home .itemlong .card .data {
        width: 280px;
        height: 100%;
        display: grid;
        justify-content: space-around;
        text-align: left;
        margin-top: 10px;
    }
    .home .itemlong .card .data .percent1, .home .itemlong .card .data .percent2, .home .itemlong .card .data .percent3 {
        margin: 5px;
    }
}
.home .itemlong .card .data {
    width: 30%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
}
.home .itemlong .card .data .percent1 {
    background-color: #ffffff;
    height: 120px;
    width: 120px;
    border: 20px solid var(--warna-utama);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    color: var(--warna-utama);
    font-weight: bold;
}
.home .itemlong .card .data .percent2 {
    background-color: #ffffff;
    height: 120px;
    width: 120px;
    border: 20px solid var(--warna-utama);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    color: var(--warna-utama);
    font-weight: bold;
}
.home .itemlong .card .data .percent3 {
    background-color: #ffffff;
    height: 120px;
    width: 120px;
    border: 20px solid var(--warna-utama);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    color: var(--warna-utama);
    font-weight: bold;
}